<style type="text/css">
.header{margin-bottom: 0; border-bottom: 0;}
.container-fluid{padding:0; width:100%; margin:0;}
.row{margin:0;}
#J_chart1 {width: 100%; height: 100%; min-height:650px; overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>
<!-- <div class="header" ng-controller='NavCtrl' ng-init="init()" ng-include="'views/mod/header.html'"></div> -->
<div class="container-fluid" ng-init="init()">
	<div class="row">
		<div class="col-lg-12" id="J_chart1">abc</div>
	</div>
	<!-- <div class="row">
		<div class="col-lg-12 chart-container">
			<h3>数据源关注度</h3>			
			LT图表区域
			<div id="J_chart1" style="width: 600px;height:400px;">
				
			</div>
		</div>
	</div> -->
</div>
<!-- <div class="footer" ng-include="'views/mod/footer.html'"></div> -->
