.wrap {
    position: relative;
    display: inline-block;
    background-color: #fff;
    box-sizing: border-box;
}
.dropDown {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    position: absolute;
    z-index: 100;
    top: 28px;
    left: 0;
    background-color: #fff;
}
.chooseDate {
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 28px;
    padding-left: 5%;
    padding-right: 28px;
    position: relative;
    box-sizing: border-box;
}
.chooseDate>p {
    margin: 0;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 28px;
    white-space: nowrap; 
}
.chooseDate>span {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 4px;
    top: 0;
    background: url('../../images/mod/calendar.png') no-repeat center center;

}
.selInfo {
    word-wrap:break-word;
    max-height: 180px;
    /*overflow-y: auto;*/
}
.Sel {
    padding: 10px;
}
.yearSel select{
    width: 50%;
}
.monthSel select {
    width: 100%;
}
.calendarTab {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ccc;
}
.calendarTab li{
    list-style: none;
    display: inline-block;
    width: 33.3%;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    /*border: 1px solid #ccc;*/
}
.calendarTab li:nth-child(2) {
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}
.calendarTab li:first-child {
    border-top-left-radius: 4px;
}
.calendarTab li:last-child {
    border-top-right-radius: 4px;
}
.calendarTab li.active {
    background-color: #199ED8;
    color: #fff !important;
}
.weekContent {
    background-color: #DBDBDB;
    border: 1px solid #ccc;
    border-left-width: 0;
    border-bottom-width: 0;
}
.mc_calendar table {
    width: 100%;
    text-align: center;
}
.mc_calendar th, .mc_calendar td {
    text-align: center;
}
.mc_calendar td {
    border: 1px solid #fff !important;
}
.mc_calendar th {
    padding: 6px;
}
.mc_calendar table td.day {
    color: #ccc;
}
.mc_calendar table td:not(.day) {
    width: 25%;
}
.cur {
    color: #000 !important;
}
.mc_calendar td.isSelected {
    background-color: #199ED8;
    color: #fff !important;
}
.btns {
    float: right;
    padding: 10px;
    padding-right: 0;
}
.btns>button {
    border-radius: 4px;
    padding: 4px 6px;
    border: 1px solid #ccc;
}
.clear {
    margin-right: 10px;
}
.bottomInfo {
    padding: 10px;
}